footer {
    height: 638px;
    background-color: rgba(53, 53, 53, 1);
    margin: 0;
}

.main_title {
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    display: flex;
    margin-bottom: 20px;
    padding-top: 131px;
    justify-content: center;
    text-transform: uppercase;
    
    
}

.shop_information {
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content:center;
    text-align:left;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer_icons {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 50px 0 50px 0;
    
}

.indents-left {
    width: 30px;
    height: 30px;
    gap: 49px;
}

.indents-right {
    margin-right: 49px;
}
.united_states {
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
}



