.favouritesContent .favouriteCard {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.favouritesContent .likeFavourite {
    position: absolute;
    right: 9px;
    top: 13px;
}

.favouritesContent .nameFavourite p {
    color: var(--black, #353535);
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_main */
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 100% */
}

.favouritesContent .basketBtnFavourite {
    display: flex;
    justify-content: center;
}

.favouritesContent .btnFavourite {
    width: 214px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid var(--black, #353535);
    color: var(--black, #353535);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    background-color: #FFFF;
    /* 80% */
    text-transform: uppercase;
}

.favouritesContent .basketBtnFavourite :hover {
    background-color: var(--black, #353535);
    color: #FFFF;
}



.favouritesContent .loaderLike {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.favouritesContent ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.favouritesContent li {
    border: 1px solid #9A9A9A;
    float: left;
    margin-left: -1px;
    padding-bottom: 30px;
    margin-top: -1px;
    border-right: none;
    padding-top: 30px;

}

.favouritesContent ul li:nth-child(-n+6) {
    padding-top: 0px;
}



/* .favouritesContent .favouriteBorder{
    border: 1px solid #9A9A9A;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border-right: none;
} */

.favouritesContent .likesLi {
    display: flex;
    justify-content: center;
}

.favouritesContent .likesLi p {
    padding: 0;
    margin: 0;
}

.favouritesContent .imageFavourite {
    margin-bottom: 10px;
}

.favouritesContent .nameFavourite {
    min-height: 36px;
}

.favouritesContent .priceFavourite {
    margin-bottom: 30px;
}

.favouritesContent .priceFavouriteCol {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.favouritesContent .likeFavourite {
    cursor: pointer;
}

.favouritesContent .favouritesContentIsEmpty {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    align-items: center;
    border-top: 1px solid #9A9A9A;
    padding-top: 50px;
}

.favouritesContentIsEmpty p {
    color: var(--black, #353535);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_main */
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 18px;
    /* 100% */
}

.favouritesContent .favouriteCard p {
    color: var(--black, #353535);
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_main */
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 100% */
}

.favouritesContent .favouriteCard .oldPriceFavourite p {
    color: var(--black, #353535);
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_sale */
    font-family: Roboto Flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 100% */
    text-decoration: line-through;
}

.favouritesContent .favouriteCard .newPriceFavourite p {
    color: var(--red, #F05B53);
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_main */
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 100% */
}

.favouritesContent .favouriteCard .newPriceFavouriteOne p {
    color: var(--black, #353535);
    font-feature-settings: 'clig' off, 'liga' off;

    /* desktop_main */
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 100% */
}