.asosLogo{
    max-width: 650px;
       text-align: center;
}

.header{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
 
}

.autorization{
    display: flex;
    justify-content: center;
    margin: 0 50px 50px 50px;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(53, 53, 53, 0.5);
}

.logIn {
    font-family: 'Roboto Flex', sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 28.13px;
   margin-right: 437px;
   cursor: pointer;
   text-decoration: none;
   color: rgba(53, 53, 53, 1);
}

.joinL {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
   font-size: 24px;
   line-height: 28.13px;
   cursor: pointer;
   text-decoration: none;
   color: rgba(53, 53, 53, 1);

}

.body {
    background-color: #ffffff;
}

.log_in_with {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
    text-align: center;
    margin-bottom: 30px;
}
.main{
    display: flex;
    justify-content: center;
}
.signinContainer{
  
    width: 650px;
}
.form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: none;
}
.submit{
    width: 100%;
    text-align: center;
}


.social-login{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 91px; 
}
.login_with {
    display: block;
    text-decoration: none;
    padding: 3px 40px;
}

.label_withEmail {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);

}

.label {
    color: rgba(53, 53, 53, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    margin: 0 0 10px 35px;
    display: flex;
    justify-content: left;
}

.input {
    display: block;
    width: 574px;
    height: 50px;
    padding: 17px 20px 17px 20px;
    background-clip: padding-box;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(53, 53, 53, 0.5);
    line-height: 16px;
    border-radius: 10px;
    border-color: rgba(53, 53, 53, 0.5);
    border: 2px;
    appearance: none;
    border-style:solid;
    margin: 0 0 30px 35px;
    
}

.input_password {
    background: url(../../../images/icon_password.png) no-repeat center right 10px;
    background-size: 30px 30px;
    margin-bottom: 16px;

}

.addition {
    display: flex;
    margin: 0px 10px 15px 35px ; 
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: rgba(58, 58, 58, 1);
    width: 22.5px;
    height: 22.5px;
    border: 2px solid rgba(58, 58, 58, 1);
    border-radius: 5px;
    display: grid;
    /* margin: 0px 10px 15px 35px ; */
    place-content: center;
  }
  


input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

.remember_me {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
    margin-top: 4px;
    margin-left: 10px;
}

.forgot {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
    margin-top: 4px;
    margin-left: 279px;
}
.btn_logIn {
    width: 574px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 200, 24, 1);
    border: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    padding: 0;
    margin: 50px 0 100px 0;
    
}

.btn_logIn:hover{
    transition: 0.5s;
    color: rgba(255, 200, 24, 1);
    background-color:rgba(53, 53, 53, 1);

}

.font-medium {
    margin-left: 35px;
}


