.overlay {
    background-color:transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
}