.help 
{
    border-bottom: 1px solid rgba(53, 53, 53, 0.5);
}

.search_for {
    margin-bottom: 30px;
}

.chat_with {
    margin-bottom: 10px;
}

.try {
    margin: 50px 0 13px 0;
}

.your_request {
    width: 935px;
    height: 50px;
    border: 2px solid rgba(53, 53, 53, 0.5);
    border-radius: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(53, 53, 53, 0.5);
    line-height: 18px;
    padding: 10px 20px 10px 20px;
    background: url(../../../images/search-request.png) no-repeat center right 10px;
    background-size: 30px 30px;
    margin-bottom: 50px;
}

.parcel_tracking {
    display: flex;
    margin-top: 50px
}

.order-input {
    width: 422px;
    height: 50px;
    border: 2px solid rgba(53, 53, 53, 0.5);
    border-radius: 10px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(53, 53, 53, 0.5);
    line-height: 18px;
    padding: 17px 20px 17px 20px;
    margin-bottom: 50px;
}

.tracking_button {
    margin-bottom: 0;
}

.for_help {
    display: grid;
    justify-content: center;
}

.about_order {
    display: grid;
    justify-content: center;
}

.explanation {
    margin-bottom: 0;
}

.label_number {
    margin: 20px 0 13px 0;
}