.mainblock {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-content: center;
    margin-bottom: 38px;
    z-index: auto;
}

.headerText {
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: black;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.links a {
    color: #353535;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: grey;
    transition: 0.5s;
}



.second {
    display: flex;
    justify-content: center;
    align-self: center;
}

.IconUser:hover {
    background-image: url("../../images/userAcept.png");
}

.userIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.basket:hover {
    background-image: url("../../images/basketAccept.png");
}

.userLogo:hover {
    background-image: url("../../images/userAcept.png");
}

.favourites:hover {
    background-image: url("../../images/liked.png");
}

.userIcons img {
    color: #3A3A3A;
    margin-left: 15px;
}

.noneM {
    margin-right: 15px;
}

.first {
    padding-left: 0;
}

.first,
.third {
    display: flex;
    flex-wrap: wrap;

}

.third {
    justify-content: flex-end;
}

.searchItem {
    display: flex;
    text-align: center;
    width: 100%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #353535;
}

.searchItem img {
    float: left;
    vertical-align: middle;
    margin: 10px 0px;
}

.search {
    border: none;
    outline: none;
    background-color: none;
    position: relative;
    width: 100%;
    font-family: Roboto Flex;

}


.menu_items {
    margin: 50px 0 30px 0;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}

.menu_items a {
    color: black;
    text-decoration: none;
}

.mainblockM {
    margin: 15px;
    height: 70px;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

.rightbox {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.rightbox img {
    width: 20%;
}

.box {
    display: flex;
    background-color: white;
    height: 70px;
    margin-top: 30px;
    width: 110%;
    margin-left: -5%;
    padding: 0 4% 0 4%;
}

.box img {
    width: 5%;

}

.stick {
    size: 1px;
    color: black;
    margin-top: 0px;
}

.search_sticky {
    border: none;
    width: 100%;
    line-height: 100px;
}


.sticky {
    position: sticky;
    top: 0;
    align-items: start;
    height: 100px;


}