.mainblock{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-content: center;
    margin-bottom: 38px;
    z-index: auto;
}
.headerText{
    font-family:  Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: black;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.links a{
    color: #353535;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover{
    color: grey;
    transition: 0.5s;
}



.second{
    display: flex;
    justify-content: center;
    align-self: center;
}

.userIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.userIcons img{
    color: #3A3A3A;
    margin-left:15px;
}

.noneM{
    margin-right: 15px;
}


.first, .third{
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-left: 10px;
}

.third{justify-content: flex-end;}

.searchItem{
    display: flex;
    text-align: center;
    width: 100%;
}

 .line{
    height: 1px;
    width: 100%;
    background-color: #353535;
}

.searchItem img{
    float: left;
    vertical-align: middle;
    margin: 10px 0px;
}

.search{
    border: none;
    outline: none;
    background-color: none;
    position: relative;
    width: 100%;
    font-family:  Roboto Flex;

}


.menu_items{
    margin: 50px 0 30px 0;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto Flex;
    font-size:20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}

.menu_items a{
    color: black;
    text-decoration: none;
}


