body{
    padding: 0 4%;
}

.asosLogo{
    max-width: 650px;
       text-align: center;
}
.header{
    margin-top: 30px;
        display: flex;
    justify-content: center;
 
}
.body {
    background-color: #ffffff;
}
.main{
    display: flex;
    justify-content: center;
}

.autorization{
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    border: 1px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(53, 53, 53, 0.5);
}

.log_in {
    color: rgba(53, 53, 53, 1);
    font-family: 'Roboto Flex', sans-serif;
   font-weight: 500;
   font-size: 24px;
   line-height: 28.13px;
   margin-right: 437px;
   cursor: pointer;
   text-decoration: none;
}

.join {
    color: rgba(53, 53, 53, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
   font-size: 24px;
   line-height: 28.13px;
   cursor: pointer;
   text-decoration: none;
}

.sign_up_with {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
    text-align: center;
    margin-bottom: 30px;
}
.label {
    color: rgba(53, 53, 53, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    margin: 0 0 10px 35px;
    display: flex;
    justify-content: left;
}

.input {
    display: block;
    width: 574px;
    height: 50px;
    padding: 17px 20px 17px 20px;
    background-clip: padding-box;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    line-height: 16px;
    border-radius: 10px;
    /* border-color: rgba(53, 53, 53, 0.5); */
    border: 2px;
    appearance: none;
    border-style:solid;
    margin: 0 0 30px 35px;
    
}
.input_password_show{
    background: url(../../../images/icon_password_show.png) no-repeat center right 10px;
    background-size: 30px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    padding: 20px;
    z-index: 10000;
    margin-bottom: 27px;
}
.input:focus {
    border-color: yellow;
    outline: none;
}

.date {
    border-radius: 30px;
    margin-bottom: 10px;
    
    
}

.input_password {
    background: url(../../../images/icon_password.png) no-repeat center right 10px;
    background-size: 30px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    padding: 20px;
    z-index: 10000;
    margin-bottom: 27px;

}
.password-container{
    display: flex;
    align-items: center;
    position: relative;
}
.password-container .input{
    margin: 0 -40px 30px 35px;;
    padding: 17px 55px 17px 20px;
}
.addition {
    display: flex;
    margin: 0px 10px 15px 35px ; 
}

.hint{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: rgba(53, 53, 53, 0.5);
    margin: 0px 0px 30px 35px;
    display: flex;
    justify-content: left;
}

/* .checkbox {
    display: inline-block;
    width: 22.5px;
    height: 22.5px;
    border: 2px solid rgba(58, 58, 58, 1);
    content: "";
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px 15px 35px ;
    outline: 2px solid rgba(58, 58, 58, 1); */
/* } */

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: rgba(58, 58, 58, 1);
    width: 22.5px;
    height: 22.5px;
    border: 2px solid rgba(58, 58, 58, 1);
    border-radius: 5px;
    display: grid;
    /* margin: 0px 10px 15px 35px ; */
    place-content: center;
  }
  


input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

.interested {
    margin-top: 30px;
}

.btn_join {
    width: 574px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 200, 24, 1);
    border: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    padding: 0;
    margin: 50px 0px 100px 0px;
    
}

.btn_join:hover{
    transition: 0.5s;
    color: rgba(255, 200, 24, 1);
    background-color:rgba(53, 53, 53, 1);

}


