.Mainblock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Mainblock .header{
    text-align: center;
    font-family: Roboto Flex;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.Mainblock .buttons{
    align-self: center;
    margin: 30px 0 0 0;
}

.Mainblock img{
    margin-top: 30px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 365px;
    margin: 50px 0 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section .header {
    margin: 0 auto;
    font-family: Roboto Flex;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
}

.section .text{
    font-family: Roboto Flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    
}

.buttons{
    border-radius: 30px;
    border: 2px solid var(--black, #353535);
    text-align: center;
    width: 17%;
    background-color: white;
    color: var(--black, #353535);
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 40px 15px;

}



.buttons:hover{
    transition: 0.5s;
    color: white;
    background-color: #353535;

}

.menbtn:hover{
    background-color: #3C6EBF;
    border-color: #3C6EBF;
}

.womenbtn:hover{
    background-color: #F05B53;
    border-color: #F05B53;
}

.genres{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.genres img{
    margin-bottom: 30px;
}



.men, .women{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.men .buttons{
    margin-left: 30px;
}

.genres .buttons{
    width: 30%;
    margin: 0 auto;
}

.trans{
    background-color: #F05B53;
    color: white;
    border-color: white;

}

.trans:hover{
    background-color: #353535;
    color: white;
    border-color: #353535;

}



.red{
    background-color: #F05B53;
    color:white;
    border: none;
}

.blue{
    background-color: #3C6EBF;
    color:white;
    border: none;
}

.blue button{
    background-color: #3C6EBF;
    color: white;
    border-color: white;
}

.blue button:hover{
    background-color: #353535;
    color: white;
    border-color: #353535;

}

.wbuttons{
    width: 100%;
    text-align: center;

}

.items{
    display: flex;
    justify-content: space-between;
}


.itemName{
    align-self: center;
    width: 100%;
    color: var(--black, #353535);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height:  88.889%;
    margin:30px 0 30px 0;
    
}

.itemName:hover{
    color:#FFC818;
    transition: 0.5s;
}

.item{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 23%;
    float: left;


}

.item .buttons{
    width: 100%;
    margin: 0;
}

.mbutton{
    align-self: center;
    width:40%;
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 6px 0 6px 0;
    border-radius: 50px;
    font-family: Roboto Flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.headerm{
    text-align: center;
    font-family: Roboto Flex;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 16px 0 16px 0;
}

.textm{
    margin-top: 10px;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.mbuttons{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.msection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 30px 0;
    padding: 30px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.MainblockM{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.black {
    margin-left: -5%;
    width: 110%;
    background-color: #353535;
    color: white;
}

.black .mbutton{
    background-color: #353535;
    color: white;
    border: 2px solid white;
}

.ItemsM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ItemsM .item{
    width: 47%;
    text-align: center;
}

.ItemsM .itemName{
    width: 100%;
    margin: 10px 0 10px 0;
}

