.mainLink {
    margin-top: 30px;
}
.focusCom {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(53, 53, 53, 0.5);
}

.basket {
    
    color: rgba(53, 53, 53, 1);
}

.mainInformation {
    display: flex;
    margin-top: 100px;
}

.content {
    text-align: center;
}

.basket_text {
    font-family: 'Roboto Flex' sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: rgba(53, 53, 53, 1);
    margin-bottom: 50px;
}

.btn_continue{
    width: 332px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 200, 24, 1);
    border: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    padding: 0;
    color: rgba(53, 53, 53, 1);
    /* margin: 50px 0px 0px 110px; */
    text-transform: uppercase;
    transition: 0.5s;
    
}
.btn_continue:hover{
    transition: 0.5s;
    color: rgba(255, 200, 24, 1);
    background-color:rgba(53, 53, 53, 1);

}

.textH1{
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42.19px;
    color: rgba(53, 53, 53, 1);
    text-align: left;
    margin-bottom: 50px;

}

.subColumns {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    /* justify-content: space-between; */
}

.result {
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    color: rgba(53, 53, 53, 1);
    text-align: left;
    margin-right: 150px;
}

.money {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    color: rgba(53, 53, 53, 1);
    text-align: center;
}

.link {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
}

.discount {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: rgba(53, 53, 53, 1);
    margin-bottom: 30px;
}

.favorite {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(240, 91, 83, 1);
    margin-bottom: 46px;
}

.btn-buy{
    border-radius: 30px;
    border: 2px solid rgba(53, 53, 53, 1);
    text-align: center;
    height: 50px;
    width: 420px;
    background-color: white;
    color: rgba(53, 53, 53, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-bottom: 100px;
    /* margin: 0 15px; */

}

.btn-buy:hover{
    transition: 0.5s;
    color: white;
    background-color:rgba(53, 53, 53, 1);

}

.shipping {
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.44px;
    color: black;
    margin-bottom: 10px;

}

.pFaster {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    color: black;
    margin-bottom: 30px;
}

.end {
    margin-bottom: 98px;
}