.mainLink {
    margin-top: 30px;
}
.focusCom {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(53, 53, 53, 0.5);
}
.orderContent{
    display: flex;
}
.productName {
    color: var(--black, #353535);
font-feature-settings: 'clig' off, 'liga' off;

/* desktop_btn_bold */
font-family: Roboto Flex;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
text-align: start;
margin-bottom: 10px;
}
.btnBasketProduct{
    text-align: start;
    display: flex;
}
.minus{
    margin-right: 10px;
}
.plus{
    margin-left: 10px;
    /* text-align: start; */
}
.flexDisplay{
display: flex;
}
.productInfo{
    margin-bottom: 10px;
    text-align: start;
    color: var(--black, #353535);
font-feature-settings: 'clig' off, 'liga' off;

/* desktop_details */
font-family: Roboto Flex;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 16px; /* 100% */
}
.productPriceDiscount{
    color: var(--red, #F05B53);
font-feature-settings: 'clig' off, 'liga' off;

/* desktop_sale */
font-family: Roboto Flex;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 16px; /* 100% */
text-decoration-line: strikethrough;
text-decoration: line-through;
}
.productInfoColor{
    margin-right: -30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.productInfoSize{
    margin-right: -90px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.productInfoArrow{
    margin-top: -2px;
    top: -2px;
}
.productPrice{
    margin-bottom: 62px;
    display: flex;
    /* width: 97%; */
height: 16px;
align-items: center;
gap: 10px;
    text-align: start;
}
.lineBasket{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    width: 97%;
    background-color: #353535;
}
.newPrice{
 
    display: flex;
width: 272px;
height: 16px;
align-items: center;
gap: 10px;
    color: var(--red, #F05B53);
font-feature-settings: 'clig' off, 'liga' off;

/* desktop_btn_bold */
font-family: Roboto Flex;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.btnProductBasket{
    background-color: #ffffff;
    width: 120px;
    height: 33px;
    padding: 6px 84px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
border: 2px solid var(--black, #353535);


}
.btnProductBasketCount{
    background-color: #ffffff;
    color: var(--black, #353535);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto Flex;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 16px; /* 80% */
text-transform: uppercase;
}

.basket {
    
    color: rgba(53, 53, 53, 1);
}

.mainInformation {
    display: flex;
    margin-top: 100px;
}

.content {
    text-align: center;
}


.basket_text {
    font-family: 'Roboto Flex' sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: rgba(53, 53, 53, 1);
    margin-bottom: 50px;
}

.btn_continue{
    width: 332px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 200, 24, 1);
    border: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    padding: 0;
    color: rgba(53, 53, 53, 1);
    /* margin: 50px 0px 0px 110px; */
    text-transform: uppercase;
    transition: 0.5s;
    
}
.btn_continue:hover{
    transition: 0.5s;
    color: rgba(255, 200, 24, 1);
    background-color:rgba(53, 53, 53, 1);

}

.textH1{
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42.19px;
    color: rgba(53, 53, 53, 1);
    text-align: left;
    margin-bottom: 50px;

}

.subColumns {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    /* justify-content: space-between; */
}

.result {
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.44px;
    color: rgba(53, 53, 53, 1);
    text-align: left;
    margin-right: 150px;
}

.money {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    color: rgba(53, 53, 53, 1);
    text-align: center;
}

.link {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: rgba(53, 53, 53, 1);
}

.discount {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: rgba(53, 53, 53, 1);
    margin-bottom: 30px;
}

.favorite {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(240, 91, 83, 1);
    margin-bottom: 46px;
}

.btn-buy{
    border-radius: 30px;
    border: 2px solid rgba(53, 53, 53, 1);
    text-align: center;
    height: 50px;
    width: 420px;
    background-color: white;
    color: rgba(53, 53, 53, 1);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-bottom: 100px;
    /* margin: 0 15px; */

}

.btn-buy:hover{
    transition: 0.5s;
    color: white;
    background-color:rgba(53, 53, 53, 1);

}

.shipping {
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.44px;
    color: black;
    margin-bottom: 10px;

}

.pFaster {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    color: black;
    margin-bottom: 30px;
}

.end {
    margin-bottom: 98px;
}